@font-face {
    font-family: "Dongle";
    font-weight: 300;
    src: url("/font/Dongle/Dongle-Light.ttf");
  }
  @font-face {
    font-family: "Dongle";
    font-weight: 400;
    src: url("/font/Dongle/Dongle-Regular.ttf");
  }
  @font-face {
    font-family: "Dongle";
    font-weight: 700;
    src: url("/font/Dongle/Dongle-Bold.ttf");
  }
  