@import url("/font/Pretendard/Pretendard.css");
@import url("/font/Dongle/Dongle.css");

@import "./normalize";
@import "./reset";

@import "./page-Style";
@import "../components/components-Style";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  background: var(--background);

  box-sizing: border-box;
  overflow: hidden;
  outline: 1px solid rgb(254, 143, 143);
  position: relative;
}

* {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--foreground);
}
