.flip-container {
  perspective: 1100px;

  .card {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s ease;
  }
    
  .flipped {
      transform: rotateY(180deg);
  }
    
  .front,
  .back {
    position: absolute;
    backface-visibility: hidden;
  }
    
  .back {
    transform: rotateY(180deg);
    background-color: #383838;
  }
    
  .back .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
    
  .card-backText {
  }
}


  
  
  