$blue-90: #076fba;
$blue-80: #1583d2;
$blue-70: #2394e4;
$blue-50: #3fa9f5;
$blue-30: #68bffd;
$blue-20: #99d4ff;
$blue-10: #c7e7ff;

$violet-90: #5e09b2;
$violet-80: #7917da;
$violet-70: #861af1;
$violet-50: #9933ff;
$violet-30: #a954ff;
$violet-20: #b770ff;
$violet-10: #ce9cff;

$gray-100: #161616; // 타이틀
$gray-90: #2b2b2c; // 본문, 활성화
$gray-80: #484949; // 거의 안씀 (본인인증버튼)
$gray-70: #6b6c6d; // 배경 text, 검정 버튼
$gray-60: #898a8b; // 컬러대용
$gray-50: #aaacad; // 조건형 비활성화, 약한 강조
$gray-40: #cacccd; // 입력칸 text
$gray-30: #e2e3e4; // 비활성화, 약한 라인
$gray-20: #f5f7f8; // 이미지 와프
$gray-15: #f5f7f8; // 배경
$gray-10: #f9fafb; // 배경

$alert: #eb0d0d;

// $naver: #00BF18;
$kakao: #ffdc00;

// main-yellow
$yellow-50: #ffb800;

// 다크모드
$dark-100: #101010;
$dark-95: #181818;
$dark-90: #222323;
$dark-80: #333334;
$dark-75: #484949;
$dark-70: #5b5b5b;
$dark-60: #6b6c6d;
$dark-50: #898a8b;
$dark-40: #aaacad;
$dark-30: #cacccd;
$dark-20: #e2e3e4;
$dark-10: #f5f7f8;
$dark-00: #ffffff;

// popaApp
$app-bg: #101012;
$app-bg-2: #2c2c35;
$app-black-1: #27282c;
$app-black-6: #b4b4b4;
$app-sharePoint: #d4fe5e;
