@font-face {
    font-family: "AllertaStencil";
    src: url("../../public/fonts/ADLaMDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ADLaMDisplay";
    src: url("../../public/fonts/ADLaMDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }